OPENAI_API_KEY=<your_openai_api_key>
OPENAI_ASSISTANT_ID=<your_assistant_id>
DATABASE_URL=postgresql+asyncpg://<POSTGRES_USER>:<POSTGRES_PASS>@<POSTGRES_HOST>:<POSTGRES_PORT>/esgbuddy
POSTGRES_PASS=<your_secure_password>